/Acceso a Datos/BDS Nativas XML/Exercises/XMLDB/TesteandoConexion/nbproject/private/
/Acceso a Datos/BDS Nativas XML/Exercises/XMLDB/TesteandoConexion/build/
/Acceso a Datos/BDS Nativas XML/Exercises/XQJ/TesteandoConexion/nbproject/private/
/Acceso a Datos/BDS Nativas XML/Exercises/XQJ/TesteandoConexion/build/
