/Acceso a Datos/BDS Nativas XML/Exercises/XMLDB/TesteandoConexion/nbproject/private/
/Acceso a Datos/BDS Nativas XML/Exercises/XMLDB/TesteandoConexion/build/
/Acceso a Datos/BDS Nativas XML/Exercises/XQJ/TesteandoConexion/nbproject/private/
/Acceso a Datos/BDS Nativas XML/Exercises/XQJ/TesteandoConexion/build/
/Acceso a Datos/BDS Nativas XML/Exercises/XQJ/OtraConexionXQJ/nbproject/private/
/Acceso a Datos/BDS Nativas XML/Exercises/XQJ/OtraConexionXQJ/build/
/Acceso a Datos/BDS Nativas XML/Exercises/XQJ/OtraConexionXMLDB/nbproject/private/
/Acceso a Datos/BDS Nativas XML/Exercises/XMLDB/OtraConexionXMLDB/nbproject/private/
/Acceso a Datos/BDS Nativas XML/Exercises/XMLDB/OtraConexionXMLDB/build/
/Acceso a Datos/BDS Nativas XML/Exercises/XMLDB/ExerciseXMLDB/nbproject/private/
/Acceso a Datos/BDS Nativas XML/Exercises/XMLDB/ExerciseXMLDB/build/
/Acceso a Datos/BDS Nativas XML/Exercises/XMLDB/TesteandoConexionXMLDB/nbproject/private/
/Acceso a Datos/BDS Nativas XML/Exercises/XMLDB/TesteandoConexionXMLDB/build/
/Acceso a Datos/BDS Nativas XML/Exercises/XMLDB/ExerciseXMLDB/dist/
